@font-face {
  font-family: "Horizon";
  src: url("../fonts/Horizon-Bold.woff") format("woff"), url("../fonts/Horizon-Bold.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
